html {
    font-family: 'VT323', monospace;
}

body {
    height: 100vh;
    background-image: url("/assets/background.png");
    background-color: black;
    background-position: center;
    background-size: cover;
}