:root {
    --red-color: #F00;
    --white-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'VT323', monospace;
}

body {
    height: 100vh;
    background-image: url("/assets/background.png");
    background-color: black;
    background-position: center;
    background-size: cover;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    text-align: center;
}

.home__title {
    color: var(--red-color);
    font-size: 100px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.options {
    display: flex;
    gap: 96px;
    margin: 60px 0 125px;
}

.options__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
}

.options__item:hover {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
}

.options__text {
    color: var(--white-color);
    font-size: 40px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.home__subtitle {
    color: var(--white-color);
    font-size: 44px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-card {
    display: flex;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 30px;
    padding: 40px 100px;
    gap: 60px;
}

.score-card__item {
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
}

.score-card__text {
    color: var(--white-color);
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 48px;
}

.text-button {
    border-radius: 10px;
    color: var(--white-color);
    font-size: 36px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 16px 0;
    width: 360px;
}

.positive-button {
    margin: 100px 0 38px;
    background-color: #049C0A;
}

.positive-button:hover {
    background-color: rgba(4, 156, 10, 0.75);
}

.negative-button {
    background: none;
    border: 2px solid #7B0E0E;
}

.negative-button:hover {
    background-color: #0E0E0E;
}

.button {
    font-family: inherit;
    cursor: pointer;
}

.hidden {
    display: none;
}